.panel{
  margin-top:2.4rem;
  background-color:none;
}
.dropdown {
  z-index: 300;
}

.navbar-brand {
  margin: 0.5rem 2rem 0 3.5rem; //logo space
  padding: 0;
  img {
    margin: 0;
    padding: 0;
    width: 11rem;
  }
}

.navbar {
  box-shadow: 3px 0px 4px #333;
  overflow: visible; //show dropdowns above page layout;
  position: fixed;
  top: 0;
  width: 100%;
  //background-image: url(/images/bg.jpg);
  background-color: #ccc;
  //margin: 0;
  padding-top: 0.5rem;
}

.logo {
  width: auto; //width of logo container
  margin: 0rem 5rem;

  img {
    width: 9rem;
    float: left;
  }
}

nav {
  //height: 100%;
  //width: 160px;
  height: auto;
  width: 100%;
  display: inline;

  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background-color: rgb(243, 243, 240);
  //color: #000;
  overflow-x: hidden;
  //padding-top: 20px;
  ul {
    margin: 1rem 1rem 0 2rem;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    li {
      //background: rgb(101, 102, 101);
      //width: ;
      //display: inline;
      float: left;
      list-style-type: none;
    }
  }
  a {
    padding: 0 1rem;
    text-decoration: none;
    font-size: 1.35em;
    color: #818181;
    border: none;

    :hover {
      color: #333;
    }
  }
}

.main {
  margin-left: 100%; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    display: none;
  }
  .sidenav a {
    font-size: 18px;
    display: none;
  }
}
